@import url("font/groovie/groovie.css");
@import url("font/altehaas/altehaas.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

html,body{
    min-width: 100%;
    min-height: 100%;
}

/*
clearfix hack
*/
[class$="-layout"]:after,
.grid-layout:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
[class$="-layout"],
.grid-layout{
    display: inline-table; 
}

/* Hides from IE-mac \*/
* html [class$="-layout"],
* html .grid-layout{
    height: 1%; 
}

[class$="-layout"],
.grid-layout{
    display: block; 
}

/*
No select text
*/
.noselect,
.gl-coll-item,
.gl-coll-itemSpec,
.gl-title,
.gl-taskbar #taskbar-time{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/*
Truncate text with ellipsis
*/
.truncate,
.gl-content,
.gl-content *,
.gl-coll-item :first-child{    
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
Remove :focus
*/
.gl-taskbar .gl-menu-button:active,
.gl-taskbar .gl-menu-button:focus,
.gl-btn:active,
.gl-btn:focus,
.gl-coll .gl-coll-item > :first-child > button:active,
.gl-coll .gl-coll-item > :first-child > button:focus,
.gl-coll .gl-coll-itemSpec > :first-child > button:active,
.gl-coll .gl-coll-itemSpec > :first-child > button:focus{
    outline: none;
    border: none;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************LAYOUTS*****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.grid-layout{
    width: 100%;
    position: relative;
    overflow: auto;
}

.grid-layout > [class*="hd-"],
.grid-layout > [class*="md-"],
.grid-layout > [class*="ld-"]{
    float: left;
}


/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/************************************************************************CONTAINERS SIZES************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

[class*="hd-"],
[class*="md-"],
[class*="ld-"]{
    position: relative;
}

@media only screen and (min-width: 1024px){    
    .ld-1{width: 5%;}
    .ld-2{width: 10%;}
    .ld-3{width: 15%;}
    .ld-4{width: 20%;}
    .ld-5{width: 25%;}
    .ld-6{width: 30%;}
    .ld-7{width: 35%;}
    .ld-8{width: 40%;}
    .ld-9{width: 45%;}
    .ld-10{width: 50%;}
    .ld-11{width: 55%;}
    .ld-12{width: 60%;}
    .ld-13{width: 65%;}
    .ld-14{width: 70%;}
    .ld-15{width: 75%;}
    .ld-16{width: 80%;}
    .ld-17{width: 85%;}
    .ld-18{width: 90%;}
    .ld-19{width: 95%;}
    .ld-20{width: 100%;}
    
    .md-1{width: 5%;}
    .md-2{width: 10%;}
    .md-3{width: 15%;}
    .md-4{width: 20%;}
    .md-5{width: 25%;}
    .md-6{width: 30%;}
    .md-7{width: 35%;}
    .md-8{width: 40%;}
    .md-9{width: 45%;}
    .md-10{width: 50%;}
    .md-11{width: 55%;}
    .md-12{width: 60%;}
    .md-13{width: 65%;}
    .md-14{width: 70%;}
    .md-15{width: 75%;}
    .md-16{width: 80%;}
    .md-17{width: 85%;}
    .md-18{width: 90%;}
    .md-19{width: 95%;}
    .md-20{width: 100%;}
    
    .hd-1{width: 5%;}
    .hd-2{width: 10%;}    
    .hd-3{width: 15%;}
    .hd-4{width: 20%;}    
    .hd-5{width: 25%;}
    .hd-6{width: 30%;}    
    .hd-7{width: 35%;}
    .hd-8{width: 40%;}    
    .hd-9{width: 45%;}
    .hd-10{width: 50%;}    
    .hd-11{width: 55%;}
    .hd-12{width: 60%;}    
    .hd-13{width: 65%;}
    .hd-14{width: 70%;}    
    .hd-15{width: 75%;}
    .hd-16{width: 80%;}    
    .hd-17{width: 85%;}
    .hd-18{width: 90%;}    
    .hd-19{width: 95%;}
    .hd-20{width: 100%;}
}

@media only screen and (min-width: 720px) and (max-width: 1023px){
    .hd-1,.hd-2,.hd-3,.hd-4,.hd-5{width: 25%;}
    .hd-6,.hd-7,.hd-8,.hd-9,.hd-10{width: 50%;}    
    .hd-11,.hd-12,.hd-13,.hd-14,.hd-15{width: 75%;}
    .hd-16,.hd-17,.hd-18,.hd-19,.hd-20{width: 100%;}
    
    .ld-1{width: 5%;}
    .ld-2{width: 10%;}
    .ld-3{width: 15%;}
    .ld-4{width: 20%;}
    .ld-5{width: 25%;}
    .ld-6{width: 30%;}
    .ld-7{width: 35%;}
    .ld-8{width: 40%;}
    .ld-9{width: 45%;}
    .ld-10{width: 50%;}
    .ld-11{width: 55%;}
    .ld-12{width: 60%;}
    .ld-13{width: 65%;}
    .ld-14{width: 70%;}
    .ld-15{width: 75%;}
    .ld-16{width: 80%;}
    .ld-17{width: 85%;}
    .ld-18{width: 90%;}
    .ld-19{width: 95%;}
    .ld-20{width: 100%;}
    
    .md-1{width: 5%;}
    .md-2{width: 10%;}    
    .md-3{width: 15%;}
    .md-4{width: 20%;}    
    .md-5{width: 25%;}
    .md-6{width: 30%;}    
    .md-7{width: 35%;}
    .md-8{width: 40%;}    
    .md-9{width: 45%;}
    .md-10{width: 50%;}    
    .md-11{width: 55%;}
    .md-12{width: 60%;}    
    .md-13{width: 65%;}
    .md-14{width: 70%;}    
    .md-15{width: 75%;}
    .md-16{width: 80%;}    
    .md-17{width: 85%;}
    .md-18{width: 90%;}    
    .md-19{width: 95%;}
    .md-20{width: 100%;}
}

@media only screen and (min-width: 200px)  and (max-width: 719px){
    .hd-1,.hd-2,.hd-3,.hd-4,.hd-5,.hd-6,.hd-7,.hd-8,.hd-9,.hd-10{width: 50%;}    
    .hd-11,.hd-12,.hd-13,.hd-14,.hd-15,.hd-16,.hd-17,.hd-18,.hd-19,.hd-20{width: 100%;}
    
    .md-1,.md-2,.md-3,.md-4,.md-5{width: 25%;}
    .md-6,.md-7,.md-8,.md-9,.md-10{width: 50%;}    
    .md-11,.md-12,.md-13,.md-14,.md-15{width: 75%;}
    .md-16,.md-17,.md-18,.md-19,.md-20{width: 100%;}
    
    .ld-1{width: 5%;}
    .ld-2{width: 10%;}
    .ld-3{width: 15%;}
    .ld-4{width: 20%;}
    .ld-5{width: 25%;}
    .ld-6{width: 30%;}
    .ld-7{width: 35%;}
    .ld-8{width: 40%;}
    .ld-9{width: 45%;}
    .ld-10{width: 50%;}
    .ld-11{width: 55%;}
    .ld-12{width: 60%;}
    .ld-13{width: 65%;}
    .ld-14{width: 70%;}
    .ld-15{width: 75%;}
    .ld-16{width: 80%;}
    .ld-17{width: 85%;}
    .ld-18{width: 90%;}
    .ld-19{width: 95%;}
    .ld-20{width: 100%;}
}


/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/*****************************************************************************GLOBALS****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

[class*="gl"]{
    font-family: "alte_haas_regular", Arial;
    color: #303030;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************TASK BAR****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-taskbar{
    width: 100%;
    height: 50px;
    background-color: #0097FF;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    z-index: 99999;
}

.gl-taskbar #taskbar-time{
    font-size: 10pt;
    height: 50px;
    padding: 0 20px;
    float: left;
}
.gl-taskbar #taskbar-time > span{
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}
.gl-taskbar #taskbar-time b.clock,
.gl-taskbar #taskbar-time b.date{
    display: block; 
}

.gl-taskbar .gl-menu-button{
    float: right;
    height: 40px;
    width: 40px;
    margin: 5px 50px 5px 20px;
    font-size:22pt;
    text-align: center;
    padding: 0;
    border: 0;
    background: transparent;
    color: #FFF;
    line-height: 40px;
    cursor: pointer;
}
.gl-taskbar .gl-menu-button:before {
  content: "\e01c";
}
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/*****************************************************************************TITLES*****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-title{
    display: block !important;
    margin: 20px auto 30px auto;
    color: #FFF;
    text-align: center;
}
.gl-title span{
    display: inline-block !important;
    padding: 5px 10px;
    font-size: 16pt;
    text-align: center;
    border-radius: 18px;
    background-color:#0097FF;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/*****************************************************************************BADGES*****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-badge{
    display: inline-block !important;
    height: 20px;
    width: 30px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    border-radius: 6px;
    background-color:#0097FF;
    margin-right: 10px;
    font-size:10pt;
}


/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/*****************************************************************************BUTONS*****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-btn{
    font-family: "alte_haas_bold", Arial !important;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 6px;
    height: 36px;
    line-height: 36px;
    padding: 0 1.2rem;
    margin: 0.2rem;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;    
    color: #FFF;
    background-color: #0097FF;
    text-decoration: none;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.gl-btn > [class*="gl"]{
    color: #FFF;
}

.gl-btn:hover,
.gl-btn.clickedGl{
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.57) !important;
}

.gl-btn .icon-right{
    float:right;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/**************************************************************************COLLECTIONS***************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-coll .gl-coll-item{
    width: 100%;
    height: 36px;
    z-index: 1;
    overflow-x: hidden;
    position: relative;
    background-color: #FFF;
    min-width: 300px;
}
.gl-coll .gl-coll-item:nth-child(2n+0){
    background-color: #F2F2F2;    
}

.gl-coll .gl-coll-item > *{
    padding: 8px 10px;
    display: block;
}

.gl-coll .gl-coll-item > :first-child{
    background-color: inherit;
    position: relative;
    z-index: 2;
    color: inherit;
    text-decoration: none;
    height: 20px;
    padding-right: 35px;
}

.gl-coll .gl-coll-item > a{
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.gl-coll .gl-coll-item > a:hover{
    background-color: #0097FF; 
    color: #FFF;
}

.gl-coll .gl-coll-item > :first-child > *{
    display: inline-block;
}

.gl-coll .gl-coll-item > :first-child > button{
    display: block;
    padding: 0;
    margin: 0px;
    border: 0;
    background: transparent;
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 10px;
    left: auto;
    cursor: pointer;
}

.gl-coll .gl-coll-item > .actions{
    position: absolute;
    background-color: #E6E6E6;
    padding-top: 4px;
    padding-bottom: 4px;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}

.gl-coll .gl-coll-item > .actions .gl-btn{
    height: 28px;
    margin: 0;
    line-height: 28px;
    padding: 0 0.5rem;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/**************************************************************************COLLECTIONS***************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-coll .gl-coll-itemSpec{
    width: 100%;
    height: 50px;
    z-index: 1;
    overflow-x: hidden;
    position: relative;
    background-color: #FFF;
    min-width: 300px;
}
.gl-coll .gl-coll-itemSpec:nth-child(2n+0){
    background-color: #F2F2F2;    
}

.gl-coll .gl-coll-itemSpec > *{
    padding: 4px 10px;
    display: block;
}

.gl-coll .gl-coll-itemSpec > :first-child{
    background-color: inherit;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
}

.gl-coll .gl-coll-itemSpec > a{
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.gl-coll .gl-coll-itemSpec > a:hover{
    background-color: #0097FF; 
    color: #FFF;
}
.gl-coll .gl-coll-itemSpec > a:hover .gl-content,
.gl-coll .gl-coll-itemSpec > a:hover .gl-header{
    color: #FFF;
}

.gl-coll .gl-coll-itemSpec > :first-child > .gl-badge{
    margin-top: 11px;
    margin-bottom: 11px;
}

.gl-coll .gl-coll-itemSpec > :first-child >.gl-coll-itemSpec-img{
    width: 40px;
    height: 40px;
    margin: 1px 10px 1px 0;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
}

.gl-coll .gl-coll-itemSpec > :first-child >.gl-coll-itemSpec-img > img.tall{
    width: auto;
    height: 100%;
}
.gl-coll .gl-coll-itemSpec > :first-child >.gl-coll-itemSpec-img > img.wide{
    width: 100%;
    height: auto;
}

.gl-coll .gl-coll-itemSpec > :first-child > .gl-content{
    display: block;
    width: calc(100% - 120px);
    min-height: 42px;
    font-size: 10pt;
    height: 100%;
    min-width: 160px;
    overflow-wrap: ;
}

.gl-coll .gl-coll-itemSpec > :first-child > .gl-content .gl-header{ 
    display: block;
    font-size: 14pt;
}

.gl-coll .gl-coll-itemSpec > :first-child > button{
    display: block;
    padding: 0;
    margin: 0px;
    border: 0;
    background: transparent;
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 10px;
    left: auto;
    cursor: pointer;
}

.gl-coll .gl-coll-itemSpec > .actions{
    position: absolute;
    background-color: #E6E6E6;
    padding-top: 11px;
    padding-bottom: 11px;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}

.gl-coll .gl-coll-itemSpec > .actions .gl-btn{
    height: 28px;
    margin: 0;
    line-height: 28px;
    padding: 0 0.5rem;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************TABLES******************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-table{
    width: 100%;
    border: 0;
    margin:10px 0;
}

.gl-table, .gl-table th, .gl-table td {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
}

.gl-table thead,
.gl-table thead *{
    height: 36px;
    padding: 0 10px;
    color: #FFF;
    font-size: 15pt;
    background-color: #0097FF;
    vertical-align: middle;
}

.gl-table tbody,
.gl-table tbody *{
    vertical-align: middle;
    padding: 5px 10px;
}

.gl-table.striped > tbody tr:nth-child(2n+0),
.gl-table.striped > tr:nth-child(2n+0){
    background-color: #f3f3f3;
}

.gl-table.highlight > tbody tr,
.gl-table.highlight > tr{
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.gl-table.highlight > tbody tr:hover,
.gl-table.highlight > tr:hover{
    background-color: #ddd;
}

.gl-table .left{
    text-align: left;
}
.gl-table .right{
    text-align: right;
}
.gl-table .center{
    text-align: center;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************TABLES******************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
