@import url("font/groovie/groovie.css");
@import url("font/altehaas/altehaas.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

html,body{
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}

/*
clearfix hack
*/
[class$="-layout"]:after,
.grid-layout:after,
[class*="hd-"]:after,
[class*="md-"]:after,
[class*="ld-"]:after,
.gl-taskbar > .actions:after,
.gl-popup  > .middle > .container > .footer:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
[class$="-layout"],
.grid-layout,
[class*="hd-"],
[class*="md-"],
[class*="ld-"],
.gl-taskbar > .actions,
.gl-popup  > .middle > .container > .footer{
    display: inline-table; 
}

/* Hides from IE-mac \*/
* html [class$="-layout"],
* html .grid-layout,
* html [class*="hd-"],
* html [class*="md-"],
* html [class*="ld-"]
* html .gl-taskbar > .actions,
* html .gl-popup  > .middle > .container > .footer{
    height: 1%; 
}

[class$="-layout"],
.grid-layout,
[class*="hd-"],
[class*="md-"],
[class*="ld-"],
.gl-taskbar > .actions,
.gl-popup  > .middle > .container > .footer{
    display: block; 
}

/*
No select text
*/
.noselect,
.gl-coll-item,
.gl-coll-itemSpec,
.gl-float-title,
.gl-taskbar #gl-taskbar-time,
.gl-taskbar .header,
.gl-card .header,
.gl-card-v .header,
.gl-simple-card .action,
.gl-simple-card-s .action,
[class^="gl-"] .placeholder,
.gl-popup > .middle > .container .header,
.gl-checkbox,
.gl-file{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/*
Truncate text with ellipsis
*/
.truncate,
.gl-content,
.gl-content *,
.gl-coll-item :first-child,
.gl-popup > .middle > .container .header,
.gl-file > div{    
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
Remove :focus
*/
.gl-taskbar .gl-menu-button:active,
.gl-taskbar .gl-menu-button:focus,
.gl-btn:active,
.gl-btn:focus,
.gl-coll .gl-coll-item > :first-child > button:active,
.gl-coll .gl-coll-item > :first-child > button:focus,
.gl-coll .gl-coll-itemSpec > :first-child > button:active,
.gl-coll .gl-coll-itemSpec > :first-child > button:focus,
[class^="gl-"] > input,
[class^="gl-"] > textarea,
[class^="gl-"] > button{
    outline: none;
    border: none;
}

:focus,
::-moz-focus-inner{
    outline: none;
    border: none;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************IMG COVER***************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

img.tall{
    width: 100% !important;
    height: auto !important;
}
img.wide{    
    width: auto !important;
    height: 100% !important;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************LAYOUTS*****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.grid-layout{
    width: 100%;
    position: relative;
    overflow: auto;
}

.grid-layout > [class*="hd-"],
.grid-layout > [class*="md-"],
.grid-layout > [class*="ld-"]{
    float: left;
}


/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/************************************************************************CONTAINERS SIZES************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

[class*="hd-"],
[class*="md-"],
[class*="ld-"]{
    position: relative;
    float: left;
}

@media only screen and (min-width: 1024px){    
    .ld-1{width: 5%;}
    .ld-2{width: 10%;}
    .ld-3{width: 15%;}
    .ld-4{width: 20%;}
    .ld-5{width: 25%;}
    .ld-6{width: 30%;}
    .ld-7{width: 35%;}
    .ld-8{width: 40%;}
    .ld-9{width: 45%;}
    .ld-10{width: 50%;}
    .ld-11{width: 55%;}
    .ld-12{width: 60%;}
    .ld-13{width: 65%;}
    .ld-14{width: 70%;}
    .ld-15{width: 75%;}
    .ld-16{width: 80%;}
    .ld-17{width: 85%;}
    .ld-18{width: 90%;}
    .ld-19{width: 95%;}
    .ld-20{width: 100%;}
    
    .md-1{width: 5%;}
    .md-2{width: 10%;}
    .md-3{width: 15%;}
    .md-4{width: 20%;}
    .md-5{width: 25%;}
    .md-6{width: 30%;}
    .md-7{width: 35%;}
    .md-8{width: 40%;}
    .md-9{width: 45%;}
    .md-10{width: 50%;}
    .md-11{width: 55%;}
    .md-12{width: 60%;}
    .md-13{width: 65%;}
    .md-14{width: 70%;}
    .md-15{width: 75%;}
    .md-16{width: 80%;}
    .md-17{width: 85%;}
    .md-18{width: 90%;}
    .md-19{width: 95%;}
    .md-20{width: 100%;}
    
    .hd-1{width: 5%;}
    .hd-2{width: 10%;}    
    .hd-3{width: 15%;}
    .hd-4{width: 20%;}    
    .hd-5{width: 25%;}
    .hd-6{width: 30%;}    
    .hd-7{width: 35%;}
    .hd-8{width: 40%;}    
    .hd-9{width: 45%;}
    .hd-10{width: 50%;}    
    .hd-11{width: 55%;}
    .hd-12{width: 60%;}    
    .hd-13{width: 65%;}
    .hd-14{width: 70%;}    
    .hd-15{width: 75%;}
    .hd-16{width: 80%;}    
    .hd-17{width: 85%;}
    .hd-18{width: 90%;}    
    .hd-19{width: 95%;}
    .hd-20{width: 100%;}
}

@media only screen and (min-width: 720px) and (max-width: 1023px){
    .hd-1,.hd-2,.hd-3,.hd-4,.hd-5{width: 25%;}
    .hd-6,.hd-7,.hd-8,.hd-9,.hd-10{width: 50%;}    
    .hd-11,.hd-12,.hd-13,.hd-14,.hd-15{width: 75%;}
    .hd-16,.hd-17,.hd-18,.hd-19,.hd-20{width: 100%;}
    
    .ld-1{width: 5%;}
    .ld-2{width: 10%;}
    .ld-3{width: 15%;}
    .ld-4{width: 20%;}
    .ld-5{width: 25%;}
    .ld-6{width: 30%;}
    .ld-7{width: 35%;}
    .ld-8{width: 40%;}
    .ld-9{width: 45%;}
    .ld-10{width: 50%;}
    .ld-11{width: 55%;}
    .ld-12{width: 60%;}
    .ld-13{width: 65%;}
    .ld-14{width: 70%;}
    .ld-15{width: 75%;}
    .ld-16{width: 80%;}
    .ld-17{width: 85%;}
    .ld-18{width: 90%;}
    .ld-19{width: 95%;}
    .ld-20{width: 100%;}
    
    .md-1{width: 5%;}
    .md-2{width: 10%;}    
    .md-3{width: 15%;}
    .md-4{width: 20%;}    
    .md-5{width: 25%;}
    .md-6{width: 30%;}    
    .md-7{width: 35%;}
    .md-8{width: 40%;}    
    .md-9{width: 45%;}
    .md-10{width: 50%;}    
    .md-11{width: 55%;}
    .md-12{width: 60%;}    
    .md-13{width: 65%;}
    .md-14{width: 70%;}    
    .md-15{width: 75%;}
    .md-16{width: 80%;}    
    .md-17{width: 85%;}
    .md-18{width: 90%;}    
    .md-19{width: 95%;}
    .md-20{width: 100%;}
}

@media only screen and (min-width: 200px)  and (max-width: 719px){
    .hd-1,.hd-2,.hd-3,.hd-4,.hd-5,.hd-6,.hd-7,.hd-8,.hd-9,.hd-10{width: 50%;}    
    .hd-11,.hd-12,.hd-13,.hd-14,.hd-15,.hd-16,.hd-17,.hd-18,.hd-19,.hd-20{width: 100%;}
    
    .md-1,.md-2,.md-3,.md-4,.md-5{width: 25%;}
    .md-6,.md-7,.md-8,.md-9,.md-10{width: 50%;}    
    .md-11,.md-12,.md-13,.md-14,.md-15{width: 75%;}
    .md-16,.md-17,.md-18,.md-19,.md-20{width: 100%;}
    
    .ld-1{width: 5%;}
    .ld-2{width: 10%;}
    .ld-3{width: 15%;}
    .ld-4{width: 20%;}
    .ld-5{width: 25%;}
    .ld-6{width: 30%;}
    .ld-7{width: 35%;}
    .ld-8{width: 40%;}
    .ld-9{width: 45%;}
    .ld-10{width: 50%;}
    .ld-11{width: 55%;}
    .ld-12{width: 60%;}
    .ld-13{width: 65%;}
    .ld-14{width: 70%;}
    .ld-15{width: 75%;}
    .ld-16{width: 80%;}
    .ld-17{width: 85%;}
    .ld-18{width: 90%;}
    .ld-19{width: 95%;}
    .ld-20{width: 100%;}
}


/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/*****************************************************************************GLOBALS****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

[class*="gl"]{
    font-family: "alte_haas_regular", Arial;
    color: #303030;
    font-size: 15px;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************TASK BAR****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-taskbar{
    width: 100%;
    height: 50px;
    background-color: #0097FF;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    z-index: 99999;
}

.gl-taskbar #gl-taskbar-time{
    height: 50px;
    padding: 0 20px;
    float: right;
}
.gl-taskbar #gl-taskbar-time > span{
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}
.gl-taskbar #gl-taskbar-time b.clock,
.gl-taskbar #gl-taskbar-time b.date{
    display: block; 
}

.gl-taskbar .gl-menu-btn{
    float: left;
    height: 50px;
    width: 50px;
    margin: 0 20px 0 30px;
    font-size:25px;
    text-align: center;
    padding: 0;
    border: 0;
    background: transparent;
    color: #FFF;
    line-height: 40px;
    cursor: pointer;
}

.gl-taskbar .gl-menu-btn > [class^="gli-"]{
    color: inherit;
    font: inherit;
}

.gl-taskbar .gl-menu-container{
    width: 350px;
    height: 0px;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: #F2F2F2;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.57) !important;
}

.gl-taskbar .gl-menu-container .header{
    width: 100%;
    height: 90px;
    overflow: hidden;
    border-radius: 6px;
    background-color: #0097FF;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.57) !important;
}
.gl-taskbar .gl-menu-container .header > div{
    display: block !important;
    width: 100% !important;
    height: 100% !important;    
    overflow: hidden !important;
}

.gl-taskbar .gl-menu-container .header > div > *{
    float: left;
}
.gl-taskbar .gl-menu-container .header > div > .img{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    margin: 20px 10px 20px 30px;
    position: relative;
}
.gl-taskbar .gl-menu-container .header > div > .img img{
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.gl-taskbar .gl-menu-container .header > div > .title{
    height: 50px;
    margin: 20px 30px 20px 10px;
    color: #FFF;
    width: 220px;
    overflow: hidden;
    position: relative;
}

.gl-taskbar .gl-menu-container .header > div > .title p{
    width: 100%;
    max-height: 100%;
    line-height: 1.2em;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.gl-taskbar .gl-menu-container .body{
    padding: 25px 0;    
    background-color: inherit;
}

.gl-taskbar .gl-menu-container .body > *{
    height: 36px;
    box-sizing: border-box;
    line-height: 36px;
    padding: 0 25px;
    width: 100%;
    color: inherit;
    -webkit-transition: background-color 0.5s ease, color 0.5s ease;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.gl-taskbar .gl-menu-container .body > *:hover,
.gl-taskbar .gl-menu-container .body > *.selected{
    background-color: #0097FF;
    color: #FFF;
}

.gl-taskbar .gl-menu-container .body > * > *{
    display: block;
    width: 100%;
    color: inherit !important;
    text-decoration: none;
}

.gl-taskbar .gl-menu-container .body > * > * [class*="gl"]{
    color: inherit;
}

.gl-taskbar .gl-menu-container .body > * > * :first-child{
    margin-right: 15px;
}

.gl-taskbar > .actions{
    height: 100%;
    float: left;
}

.gl-taskbar > .actions > .gl-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    min-width: 70px;
    font-family: inherit !important;
    padding: 0; 
    margin: 0;
    cursor: pointer;
    border-radius: 0;
    line-height: 1em;
    text-align: center;
    background-color: inherit;
    font-size: 25px !important;
}
.gl-taskbar > .actions > .gl-btn > *{    
    color: inherit;
    margin: 0 auto;
    font-size: inherit;
}

.gl-taskbar > .actions > .gl-btn.labeled{
    font-size: 20px !important;
}
.gl-taskbar > .actions > .gl-btn.labeled > aside{
    display: inline-block;
    line-height: 1em;
    color: inherit;
}
.gl-taskbar > .actions > .gl-btn.labeled > aside *:last-child{
    font-size: 13px;
    line-height: 0.9em;
    color: inherit;
    margin-top: 4px;
}
.gl-taskbar > .actions > .gl-btn.labeled > aside *{
    display: block;
    color: inherit;
    font-size: inherit;
}

.gl-taskbar > .actions > .gl-btn:hover,
.gl-taskbar > .actions > .gl-btn.clickedGl{
    box-shadow: none !important;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/*****************************************************************************TITLES*****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-title{
    font-size: 20px;
    color: #0097FF;
}

.gl-float-title{
    display: block !important;
    margin: 20px auto 30px auto;
    color: #FFF;
    text-align: center;
}
.gl-float-title span{
    display: inline-block !important;
    height: 24px;
    line-height: 24px;
    padding: 0px 22px;
    font-size: 18px;
    text-align: center;
    border-radius: 18px;
    background-color:#0097FF;
    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.57) !important;
}

.gl-sub-title{
    font-size: 18px;
    color: #B3B3B3;
}
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/*****************************************************************************BADGES*****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-badge{
    display: block !important;
    height: 20px;
    width: 30px;
    line-height: 20px;
    color: #FFF;
    text-align: center;
    border-radius: 6px;
    background-color:#0097FF;
    margin-right: 10px;
    font-size:12px;
    float: left;
}


/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/*****************************************************************************BUTONS*****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-btn.red{
    background-color: #FF5578;
}

.gl-btn{
    display: block;
    float: left;
    margin: 10px 5px 10px 0;
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 6px;
    height: 30px;
    line-height: 30px;
    padding: 0 9px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;    
    color: #FFF;
    background-color: #0097FF;
    text-decoration: none;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}
.gl-btn.gl-disabled{
    background-color: #E6E6E6 !important;;
    color: #B3B3B3 !important;
    cursor: default !important;
}

.gl-btn > [class*="gl"]{
    color: inherit;
}

.gl-btn:not(.gl-disabled):hover,
.gl-btn:focus,
.gl-btn.clickedGl{
    box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.57) !important;
}

.gl-btn .icon-right{
    float:right;
}

.gl-btn:last-child{
    margin-left: 0 !important;
}
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/**************************************************************************COLLECTIONS***************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-coll .gl-coll-item{
    width: 100%;
    height: 36px;
    z-index: 1;
    overflow-x: hidden;
    position: relative;
    background-color: #FAFAFA;
}
.gl-coll .gl-coll-item:nth-child(2n+0){
    background-color: #F2F2F2;    
}

.gl-coll .gl-coll-item > *{
    padding: 8px 10px;
    display: block;
}

.gl-coll .gl-coll-item > :first-child{
    background-color: inherit;
    position: relative;
    z-index: 2;
    color: inherit;
    text-decoration: none;
    height: 20px;
    padding-right: 35px;
    line-height: 20px;
}

.gl-coll .gl-coll-item > a{
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease;
}


.gl-coll .gl-coll-item > a:hover,
.gl-coll .gl-coll-item > a.selected{
    background-color: #0097FF; 
    color: #FFF;
}

.gl-coll .gl-coll-item > :first-child > *{
    display: inline-block;
}

.gl-coll .gl-coll-item > :first-child > button{
    display: block;
    padding: 0;
    margin: 0px;
    border: 0;
    background: transparent;
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 10px;
    left: auto;
    cursor: pointer;
}

.gl-coll .gl-coll-item > .actions{
    position: absolute;
    background-color: #E6E6E6;
    padding-top: 4px;
    padding-bottom: 4px;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}

.gl-coll .gl-coll-item > .actions .gl-btn{
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    margin: 0 5px 0 0;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/**************************************************************************COLLECTIONS***************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-coll .gl-coll-itemSpec{
    width: 100%;
    height: 50px;
    z-index: 1;
    overflow-x: hidden;
    position: relative;
    background-color: #FAFAFA;
}
.gl-coll .gl-coll-itemSpec:nth-child(2n+0){
    background-color: #F2F2F2;    
}

.gl-coll .gl-coll-itemSpec > *{
    padding: 4px 10px;
    display: block;
}

.gl-coll .gl-coll-itemSpec > :first-child{
    background-color: inherit;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
}

.gl-coll .gl-coll-itemSpec > a{
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.gl-coll .gl-coll-itemSpec > a:hover,
.gl-coll .gl-coll-itemSpec > a.selected{
    background-color: #0097FF; 
    color: #FFF;
}
.gl-coll .gl-coll-itemSpec > a:hover .gl-content,
.gl-coll .gl-coll-itemSpec > a:hover .gl-header{
    color: #FFF;
}

.gl-coll .gl-coll-itemSpec > :first-child > .gl-badge{
    margin-top: 11px;
    margin-bottom: 11px;
}

.gl-coll .gl-coll-itemSpec > :first-child >.gl-coll-itemSpec-img{
    width: 40px;
    height: 40px;
    margin: 1px 10px 1px 0;
    overflow: hidden;
    position: relative;
    border-radius: 100%;
}

.gl-coll .gl-coll-itemSpec > :first-child > .gl-content{
    display: block;
    width: calc(100% - 120px);
    min-height: 42px;
    height: 100%;
    min-width: 160px;
    font-size: 13px;
}

.gl-coll .gl-coll-itemSpec > :first-child > .gl-content .gl-header{ 
    display: block;
    font-size: 16px;
}

.gl-coll .gl-coll-itemSpec > :first-child > button{
    display: block;
    padding: 0;
    margin: 0px;
    border: 0;
    background: transparent;
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 10px;
    left: auto;
    cursor: pointer;
    color: inherit;
}

.gl-coll .gl-coll-itemSpec > .actions{
    position: absolute;
    background-color: #E6E6E6;
    padding-top: 11px;
    padding-bottom: 11px;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: center;
}

.gl-coll .gl-coll-itemSpec > .actions .gl-btn{
    height: 28px;
    line-height: 28px;
    padding: 0 1rem;
    margin: 0 5px 0 0;
}


/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************TABLES******************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-table{
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
}

.gl-table, .gl-table th, .gl-table td {
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}

.gl-table td,
.gl-table th{
    padding: 0 15px;
}

.gl-table thead,
.gl-table thead *{
    height: 36px;
    padding: 0 10px;
    color: #FFF;
    font-size: 18px;
    vertical-align: middle;   
    position: relative;
    z-index: 10; 
}

.gl-table :not(tbody) tr:first-child{
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.30);
}

.gl-table tr th{
    background-color: #0097FF;
    border-top: 1px solid inherit;
}
.gl-table tr td,.gl-table tr th{
    border-right: 1px solid inherit;
    border-bottom: 1px solid inherit
}
.gl-table tr td:first-child,.gl-table tr th:first-child{
    border-left: 1px solid inherit;
}

.gl-table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
.gl-table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
.gl-table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
.gl-table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

.gl-table tbody, .gl-table tbody :not([class^="gli-"]){
    vertical-align: middle;
    padding: 5px 10px;
}

.gl-table.striped tr:nth-child(2n+0) td{
    background-color: #f3f3f3;
}

.gl-table.highlight > tbody tr td,
.gl-table.highlight > tr td{
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.gl-table.highlight > tbody tr:hover td,
.gl-table.highlight > tr:hover td{
    background-color: #ddd;
}

.gl-table .left{
    text-align: left;
}
.gl-table .right{
    text-align: right;
}
.gl-table .center{
    text-align: center;
}

.gl-table .gl-btn{
    height: 24px !important;
    line-height: 24px !important;
    margin: 0 5px !important;
    padding: 0 15px !important;
    display: inline-block !important;
    float: none;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************CARDS*******************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-card,
.gl-card-v,
.gl-simple-card,
.gl-simple-card-s{
    width: 270px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    float: left;
    color: #95989A;
}

.gl-card-v{
    width: 340px;
    padding-top: 58px;
}

.gl-simple-card-s{
    width: 150px;
}

.gl-card .header,
.gl-card-v .header,
.gl-simple-card .action,
.gl-simple-card-s .action{
    position: absolute;
    width: 100%;
    height: 48px;
    border-radius: inherit;
    overflow: hidden;    
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.30) !important;
    top: 10px;
    z-index: 10;
    background-color: #FAFAFA;
}

.gl-simple-card .action,
.gl-simple-card-s .action{
    top: auto;
    padding: 0 15px;
    line-height: 48px;
    bottom: 10px;
    font-size: 23px;
    text-align: right;
    color: inherit;
}
.gl-simple-card-s .action{
    text-align: center;
}

.gl-simple-card .action > *,
.gl-simple-card-s .action > *{
    color:inherit;    
    -webkit-transition: color 0.5s ease;    
    transition: color 0.5s ease;
}

.gl-simple-card .action > *:hover,
.gl-simple-card-s .action > *:hover{
    color:#0097FF;
}

.gl-simple-card .action [class^="gli-"],
.gl-simple-card-s .action [class^="gli-"]{
    font-size: inherit;    
    color:inherit;
}

.gl-card.has-img .header{
    top: 235px;
}

.gl-card .header > .img,
.gl-card-v .header > .img{
    width: 40px;
    height: 40px;
    margin: 4px 0px 4px 10px;
    overflow: hidden;
    border-radius: 100%;
    float: left;
    position: relative;
}

.gl-card .header > .title,
.gl-card-v .header > .title{
    height: 40px;
    margin: 8px 12px;
    display: block;
    float: left;
    color:inherit;
    font-size: 12px;
}

.gl-card .header > .title span,
.gl-card-v .header > .title span{
    display: block;
    font-size: 15px;
    color: #555454;
}

.gl-card .img img,
.gl-card-v .img img,
.gl-simple-card .img img,
.gl-simple-card-s .img img{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.gl-card > .img,
.gl-card-v > .img,
.gl-simple-card > .img,
.gl-simple-card-s > .img{
    width: 270px;
    height: 270px;
    overflow: hidden;
    border-radius: inherit;
    position: relative;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.30) !important;
    position: relative;
    z-index: 2;
    background-color: #FAFAFA;
}

.gl-card > .img [class^="gli-"],
.gl-card-v > .img [class^="gli-"],
.gl-simple-card > .img [class^="gli-"],
.gl-simple-card-s > .img [class^="gli-"]{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
    font-size: 70px;
    color: #DADADA
}


.gl-card-v > .img{
    width: 152px;
    height: 152px;
    float: left;
}

.gl-simple-card-s > .img{
    width: 150px;
    height: 150px;
}

.gl-card .body,
.gl-card-v .body{
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
    border-radius: inherit;    
    background-color: #FAFAFA;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.30) !important;
    z-index: 1;
}
.gl-card-v .body{
    float: left;
    width: 188px;
    height: 152px;
}

.gl-card .body > *:not(.actions),
.gl-card-v .body > *:not(.actions){
    margin: 20px 15px;
    height: 60px;
    color:inherit;
}
.gl-card-v .body > *:not(.actions){
    height: 100px;
    margin: 15px 15px 0px 15px;
}

.gl-card .body > .actions,
.gl-card-v .body > .actions{
    display: block;
    float: right;
    margin: 5px 15px 0 15px;
}
.gl-card-v .body > .actions{
    margin: 2px 8px 0 0;
}

.gl-card .body > .actions .gl-btn,
.gl-card-v .body > .actions .gl-btn{
    height: 24px;
    line-height: 0px;
    margin-top: 0;
}


/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************TEXT********************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-text{
    float: left;
    width: 300px;
    min-height: 58px;
    position: relative;    
    color:#B3B3B3;
    margin: 10px 15px 15px 0;
    text-align: left;
}
.gl-text.focus{
    color: #555454;
}

.gl-text .placeholder{
    position: absolute;
    top:29px;
    margin: 0 15px;
    z-index: 4;
    color: inherit;
    font: inherit;
    -webkit-transition: top 0.3s ease, color 0.3s ease;
    transition: top 0.3s ease, color 0.3s ease;
}
.gl-text.focus .placeholder{
    top: 0px;
    color: #4BB6FF;
}
.gl-text.fill .placeholder{
    top: 0;
}

.gl-text hr{
    position: relative;
    z-index: 4;
    display: block;
    border: none;
    background-color: transparent;
    border-radius: 6px;    
    height: 2px;
    overflow: hidden;
    margin: 20px 6px 0 6px;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;
    color:inherit;
}

.gl-text.focus hr{
    background-color: #4BB6FF;;
}

.gl-text input,
.gl-text textarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 6px;
    position: relative;
    z-index: 3;
    color: inherit;
    font: inherit;
    margin-top: -2px;
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
}
.gl-text textarea{
    resize: none;
    padding: 10px 15px;
    height: 150px;
}

.gl-text input:hover,
.gl-text.focus input,
.gl-text textarea:hover,
.gl-text.focus textarea{
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.30) !important;
}
.gl-text.focus input,
.gl-text.focus textarea{
    cursor:text !important;
}

.gl-text.required .alert,
.gl-text .counter{
    position: absolute;
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    line-height: 42px;
    padding: 0 15px;
    background-color: #FF5578;
    border-radius: 6px;
    z-index: 2;
    bottom: 4px;
    font-size: 12px;
    color: #FFFFFF;
    -webkit-transition: bottom 0.3s ease;
    transition: bottom 0.3s ease;
}
.gl-text .counter{
    background-color: #29E89A;
    text-align: right;
}

.gl-text.focus .counter,
.gl-text.required .alert.show{
    bottom: -15px;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************TEXT********************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-file{
    float: left;
    width: 300px;
    min-height: 58px;
    position: relative;    
    color:#B3B3B3;
    margin: 10px 15px 15px 0;
    text-align: left;
    position: relative;
}

.gl-file > div{
    height: 36px;
    line-height: 36px;
    background-color: #F2F2F2;
    border-radius: 6px;
    padding: 0 15px 0 65px;
}

.gl-file .gl-btn{
    margin: 0;
    padding: 0;
    width: 50px;
    height: 36px;
    line-height: inherit;
    background-color: #4BB6FF;
    color: #FFF;
    font-size: 25px;
    position: absolute;
}
.gl-file .gl-btn [class^="gli-"]{
    font-size: inherit;
    color: inherit;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/**************************************************************************DROPDOWN******************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-dropdown{
    float: left;
    margin: 10px 15px 15px 0;
    min-width: 200px;
    width: 300px;
    height: 36px;
    line-height: 36px;
    background-color: #F2F2F2;
    border:none;
    border-radius: 6px;
    color:#B3B3B3;
    position: relative;
    padding: 0;
}

.gl-dropdown:last-child{
    margin-right: 0;
}

.gl-dropdown > .title{
    text-align: left;
    display: block;
    position: relative;
    padding: 0 15px;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;  
    -webkit-transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;        
}

.gl-dropdown > .title i[class^="gli-"]{
    float: right;
    color: inherit;
    -webkit-transition: inherit;
    transition: inherit;
}

.gl-dropdown:hover > .title,
.gl-dropdown.focus > .title{
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.30) !important;
    background-color: #4BB6FF;
    color: #FFF;
}

.gl-dropdown > ul{
    width: inherit;
    position: absolute;  
    color: #4D4D4D;
    height: 0;
    box-sizing: border-box;
    z-index: 999;
    background-color: inherit;
    border: inherit;
    border-radius: inherit;       
    overflow: hidden;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.30) !important;
} 
.gl-dropdown > ul li{
    cursor: default !important;
    padding:0 15px;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease;   
}

.gl-dropdown > ul:not(.upper) li:first-child{
    margin-top: 12px;
}
.gl-dropdown > ul.upper li:last-child{
    margin-bottom: 12px;
}

.gl-dropdown > ul li.disabled{
    color: #B3B3B3;
}

.gl-dropdown > ul li:nth-child(2n+0){
    background-color: #FAFAFA;
}

.gl-dropdown > ul li:hover:not(.disabled){
    background-color: #4BB6FF;
    color: #FFF;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/*********************************************************************CHECKBOX AND RADIO*************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-checkbox,
.gl-radiobtn{
    display: inline-block;
    margin: 0 15px 15px 0;
}

.gl-checkbox > .action,
.gl-radiobtn > .action{
    padding: 0;
    border: 0;
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background-color: #E6E6E6;
    line-height: 18px;
    text-align: center;
    font-size: 16px;
    color:#E6E6E6;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.gl-radiobtn > .action{
    border: 3px solid #E6E6E6;
    border-radius: 100%;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.gl-checkbox > .action > [class^="gli-"]{
    color: inherit;
    font-size: inherit;
}

.gl-checkbox:hover > .action,
.gl-checkbox.focus > .action,
.gl-radiobtn:hover > .action,
.gl-radiobtn.focus > .action{    
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3) !important;
}

.gl-checkbox.checked > .action{
    color: #FFF;
    background-color: #4BB6FF;
}

.gl-radiobtn.checked > .action{
    border-color: #4BB6FF;
    background-color: #0097FF;
}

.gl-checkbox > .text,
.gl-radiobtn > .text{
    display: block;
    float: left;
    margin-left: 8px;
    font-size: 15px;
    font-family: inherit;
    color: inherit;
}

/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/**************************************************************************STATE BOX*****************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-statebox{
    padding: 0;
    border: none;
    display: inline-block;
    width: 30px;
    height: 16px;
    border-radius: 16px;
    background-color: #B3B3B3;
    position: relative;    
    -webkit-transition: background-color 0.3s ease;    
    transition: background-color 0.3s ease;
    margin: 0 15px 15px 0;
}

.gl-statebox:before{
    position: absolute;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    background-color: #FAFAFA;
    border: 3px solid #E6E6E6;
    border-radius: 100%;
    top: -3px;
    left: -3px;
    -webkit-transition: box-shadow 0.3s ease, background-color 0.3s ease, left 0.3s ease;
    transition: box-shadow 0.3s ease, background-color 0.3s ease, left 0.3s ease;
}

.gl-statebox:hover:before,
.gl-statebox.focus:before{    
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3) !important;
}

.gl-statebox.checked{
    background-color: #4BB6FF;
}
.gl-statebox.checked:before{
    background-color: inherit;
    border-color: #0097FF;
    left: 13px;
}


/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************ALERT*******************************************************************************/
/****************************************************************************************************************************************************************/
/****************************************************************************************************************************************************************/

.gl-popup{
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 9999999;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.gl-popup.show{
    opacity: 1;
}

.gl-popup > .middle{    
    display: table-cell;
    vertical-align: middle;
}

.gl-popup > .middle > .container{
    cursor: default !important;
    width: 300px;
    max-height: 200px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: #FAFAFA;
    border-radius: 6px;    
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.30) !important;
}

.gl-popup > .middle > .container *:not(.gl-btn){
    cursor: initial !important;
}

.gl-popup > .middle > .container .header{
    font-size: 18px;
    color: #0097FF;
    height: 36px;
}

.gl-popup > .middle > .container .header [class^="gli-"]{
    color: inherit;
    padding-right: 10px;
    font-size: 18px;
}

.gl-popup > .middle > .container .header *{
    cursor: default !important;
}

.gl-popup > .middle > .container .header hr{
    display: block;
    height: 2px;
    margin: 9px 0 15px 0;
    border:none;
    border-radius: 6px;
    background-color: #0097FF;
}

.gl-popup > .middle > .container > .body{
    margin-top: 15px;
}

.gl-popup > .middle > .container > .footer .gl-btn{
    float: right;
    margin-bottom: 0;
}